@import "../../styles/base.scss";
.taro_router {background:$backGround_blackF1;}
.Publicity-page{
    &-content{
        padding: 32px;
        &-tittle{
            @include fc(36px,#fff);
            font-weight: 600;
        }


        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-instru{
            display: flex;
            align-items: center;
            @include fc(32px,#fff);
            line-height: 44px;
            .at-icon{
                font-size: 40px;
            }
        }
        
        .submitButton{
            margin-top: 96px;
        }
    }

    &-list{
        margin-top: 30px;
    }
    
}

.scrollView{
    height: calc(100vh - 140px);
}

