@import "../../styles/base.scss";
// .taro_router {background:$backGround_blackF1;}
.ImagePage-page{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &-list{
        text-align: center;
    }
    &-img{
        max-width: 100%;
        // @include wh(300px,200px);
    }
}


