@import "../../styles/base.scss";

.listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 24px 0;
    box-sizing: border-box;
    &-left{
        @include fc(32px,#787878);
        line-height: 48px;
    }
    &-right{
        font-size: 32px;
        color:$font_blue;
    }
    
}
.listItem::after{
    content: "";
    position: absolute;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    border-bottom: 2px solid rgba(25,31,37,0.03);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    border-top-width: 1PX;
}