@font-face {
  font-family: "PingFangSC-Regular";
  src:url("https://image.beautysaas.com/WeChatApp/fontFamily/PingFang%20Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: 'DIN';
  src: url('https://ruocha.oss-cn-shanghai.aliyuncs.com/WeChatApp/fontFamily/DINAlternate-Bold.woff2') format('woff2'),
        url('https://ruocha.oss-cn-shanghai.aliyuncs.com/WeChatApp/fontFamily/DINAlternate-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HYXiXiuTiJ";
  src:url("https://image.beautysaas.com/WeChatApp/fontFamily/HYXiXiuTiJ.ttf");
  font-display: swap;
}