@import "../../styles/base.scss";
.taro_router {background:$backGround_blackF1;}
.construction-page{
   
    &-content{
        padding: 32px;


        &-tittle{
            @include fc(36px,#fff);
            font-weight: 600;
        }

        &-box{
            margin-top: 32px;
            overflow: hidden;
            .at-list__item{
                line-height: 1.6;
            }
            .item-extra__info{
                color:#3296fa;
            }
            .at-list__item .item-extra__icon-arrow{
                color:#3296fa;
            }
        }


        .submitButton{
            margin-top: 96px;
        }
    }
    
}