@import "../../styles/base.scss";
.taro_router {background:$backGround_blackF1;}
.Evaluate-page{
   
    &-content{
        padding: 32px;
        &-tittle{
            @include fc(36px,#fff);
            font-weight: 600;
        }

        &-instru{
            @include fc(32px,#fff);
            line-height: 44px;
            margin-top: 24px;
        }
        .goUrlButton{
            border-radius: 16px;
            margin-top: 32px;
           color:#FF0000;
           font-weight: 600;
        }

        
        .at-list__item-extra{
            max-width: 100%;
        }
        &-teamTitle,&-teamNumber{
            padding: 0 32px;
            @include fc(32px,#262626);
            line-height: 44px;
        }
        &-teamTitle{
            margin-top: 24px;
        }
        &-teamNumber{
            margin-top: 16px;
            padding-bottom: 24px;
        }
    }
    
    &-top{
        margin-top: 32px;
    }
}


.listItem{
    padding: 24px;
    display: flex;
    font-size: 32px;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    &-left{
        
    }
    &-right{
       margin-left: 48px;
       display: flex;
       align-items: center;
       .at-icon{
           margin-right: 20px;
           font-size: 40px;
       }
    }
}
.listItem::after{
    content: "";
    position: absolute;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    top: auto;
    left: 0.512rem;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-bottom: 1PX solid #d6e4ef;
}


