@import "../../styles/base.scss";
.taro_router {background:$backGround_blackF1;}
.PublicityDetail-page{
    padding: 24px;
    &-content{
        box-sizing: border-box;
       padding: 22px 32px;

       &-one{
           @include fc(32px,#262626);
           line-height: 44px;
           font-weight: 600;
       }
       &-two{
        @include fc(32px,#262626);
        line-height: 68px;
       }
       &-updata{
        @include fc(32px,#262626);
        font-weight: 600;
        line-height: 44px;
        margin-top: 24px;
       }
    }

    
}

.listItem{
    // display: flex;
    position: relative;
    padding: 24px 0;
    box-sizing: border-box;
    @include fc(32px,#787878);
    line-height: 44px;
    h2{
        line-height: 80px!important;
    }
}
.listItem::after{
    content: "";
    position: absolute;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    border-bottom: 2px solid rgba(25,31,37,0.03);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    border-top-width: 1PX;
}

